<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fav</title>
    <style>
        body {
            background-color: black;
            margin: 0;
            color: white;
            text-align: center;
        }
        .rectangle {
            height: 400px;
            width: 500px;
            background-color: #555;
            align: center;
            margin-top: 150px;
            margin-left: 500px;
            border-radius: 5%;
        }
    </style>
</head>
<body>

<div class="rectangle">
<p th:text="${statusMsg}" style="padding:30px; padding-top:120px;"></p>
</div>

</body>
</html>